
<nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> Daniel Orchard </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% for item in site.data.navigation %}

                {% assign active_class = '' %}
                {% assign aria_current = '' %}

                {% if page.url == item.url %}
                    {% assign active_class = ' active' %}
                    {% assign aria_current = ' aria-current="page" ' %}
                {% endif %}

                <li class="nav-item"> <a href="{{ item.url }}" target="{{item.target}}" class="nav-link {{ active_class }}" {{ aria_current }}> {{ item.name }} </a> </li>

               
            {% endfor %}
            <li class=nav-item> <span class="nav-link"> <b>|</b> </span>
            <li class=nav-item> <a class="nav-link text-warning fw-bold" color-blue target="_blank" nav-link-external href="https://zenith-digital.co.uk"> Zenith Digital</a> </li>
            <li class=nav-item> <span class="nav-link"> <b>|</b> </span>
            <li class=nav-item> <a class="nav-link text-warning" color-blue target="_blank" nav-link-external href=http://aperture9.github.io> Aperture9 </a> </li>
            </ul>
        
        </div>
</nav>