<li class="grid_item"> 
  <article class="grid_card" style="background-color:black">

    <div class="card_graphic" aria-hidden="true"> 
      <img src="assets/images/{{include.portfolio_item.img}}" class="card-img" alt="{{include.portfolio_item.title}}"> 
    </div>

    <div class="card_body"> 
      <h2 class="card_title"> <a href="{{include.portfolio_item.link}}" target="_blank" data-page-link> {{include.portfolio_item.title}} </a> </h2>
      <h3 class="card_text "> {{include.portfolio_item.comp}} </h3>
      <h3 class="card_text text-secondary"> {{include.portfolio_item.role}} </h3>
      <p class="card_text py-3"> {{include.portfolio_item.desc}} </p>
      <div class="card_meta text-meta"></div>
    </div>

  </article>
</li>